<!DOCTYPE HTML>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheet/stylesheet.css" />
    <title> welcome to Mintick </title>
  </head>

<body>

  <div id='bg'>
    <img src="https://images.unsplash.com/photo-1474910569322-ddc4a7368b8f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=50151cc838e1f829ffdb8420392d32f6" alt="">
  </div>
    <div class="content-a">
        <div class="content-b">
          <h1> Mintick </h1>
          <h3> Sign up to find out more </h3>

          <form action="/email" method="post">
            <label for="name">
             Full name:
            <input type="text" name="name">
            </label>
            <label for="email">
             Email address:
            <input type="text" name="email">
            </label>
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>
</body>


</html>
