<!DOCTYPE HTML>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <title> welcome to Mintick </title>
  </head>

<body>
    <div style='height: 1000px' class="overlay-photo">
        <!-- <div class="content-b"> -->
          <!-- <h1> Mintick </h1>
          <h3> Sign up to find out more </h3> -->

          <!-- <form action="/email" method="post">
            <label for="name">
             Full name:
            <input type="text" name="name">
            </label>
            <label for="email">
             Email address:
            <input type="text" name="email">
            </label>
            <input type="submit" value="Submit">
          </form> -->
        <!-- </div> -->
    </div>
</body>


</html>

<!-- other Mintick could be  = https://s17.postimg.org/5zi6u699r/MINTICKK.png or https://s12.postimg.org/6fpnswvu5/mintick_white_50trans_kernel.png-->
